body {
    margin-left: 1vw;
}

header {
    margin-bottom: 3vh;
}

nav {
    margin-bottom: 3vh;
}

td + td {
    padding-left: 3vh;
    padding-right: 3vh;
}

tr:nth-child(even) {
    background-color: #84A98C;
    color: #2F3E46;
}

tr:nth-child(odd) {
    background-color: #CAD2C5;
    color: #2F3E46;
}

th {
    background-color: #2F3E46;
    color: #CAD2C5;
}

footer {
    margin-top: 3vh;
}

footer a {
    text-decoration: none;
}

figure {
   text-align: center;
}

figure table {
    margin: 2vh auto;
}

.align-right {
    text-align: right;
    padding-right: 1vw;
}

